interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://wsaahomo.afip.gov.ar/ws/services/LoginCms?wsdl
  response:
    body:
      string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<wsdl:definitions
        targetNamespace=\"https://wsaahomo.afip.gov.ar/ws/services/LoginCms\" xmlns:apachesoap=\"http://xml.apache.org/xml-soap\"
        xmlns:impl=\"https://wsaahomo.afip.gov.ar/ws/services/LoginCms\" xmlns:intf=\"https://wsaahomo.afip.gov.ar/ws/services/LoginCms\"
        xmlns:tns1=\"http://wsaa.view.sua.dvadac.desein.afip.gov\" xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\"
        xmlns:wsdlsoap=\"http://schemas.xmlsoap.org/wsdl/soap/\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\">\n<!--WSDL
        created by Apache Axis version: 1.4\nBuilt on Apr 22, 2006 (06:55:48 PDT)-->\n
        <wsdl:types>\n  <schema elementFormDefault=\"qualified\" targetNamespace=\"http://wsaa.view.sua.dvadac.desein.afip.gov\"
        xmlns=\"http://www.w3.org/2001/XMLSchema\">\n   <import namespace=\"https://wsaahomo.afip.gov.ar/ws/services/LoginCms\"/>\n
        \  <element name=\"loginCms\">\n    <complexType>\n     <sequence>\n      <element
        name=\"in0\" type=\"xsd:string\"/>\n     </sequence>\n    </complexType>\n
        \  </element>\n   <element name=\"loginCmsResponse\">\n    <complexType>\n
        \    <sequence>\n      <element name=\"loginCmsReturn\" type=\"xsd:string\"/>\n
        \    </sequence>\n    </complexType>\n   </element>\n  </schema>\n  <schema
        elementFormDefault=\"qualified\" targetNamespace=\"https://wsaahomo.afip.gov.ar/ws/services/LoginCms\"
        xmlns=\"http://www.w3.org/2001/XMLSchema\">\n   <complexType name=\"LoginFault\">\n
        \   <sequence/>\n   </complexType>\n   <element name=\"fault\" type=\"impl:LoginFault\"/>\n
        \ </schema>\n </wsdl:types>\n\n   <wsdl:message name=\"loginCmsRequest\">\n\n
        \     <wsdl:part element=\"tns1:loginCms\" name=\"parameters\">\n\n      </wsdl:part>\n\n
        \  </wsdl:message>\n\n   <wsdl:message name=\"LoginFault\">\n\n      <wsdl:part
        element=\"impl:fault\" name=\"fault\">\n\n      </wsdl:part>\n\n   </wsdl:message>\n\n
        \  <wsdl:message name=\"loginCmsResponse\">\n\n      <wsdl:part element=\"tns1:loginCmsResponse\"
        name=\"parameters\">\n\n      </wsdl:part>\n\n   </wsdl:message>\n\n   <wsdl:portType
        name=\"LoginCMS\">\n\n      <wsdl:operation name=\"loginCms\">\n\n         <wsdl:input
        message=\"impl:loginCmsRequest\" name=\"loginCmsRequest\">\n\n       </wsdl:input>\n\n
        \        <wsdl:output message=\"impl:loginCmsResponse\" name=\"loginCmsResponse\">\n\n
        \      </wsdl:output>\n\n         <wsdl:fault message=\"impl:LoginFault\"
        name=\"LoginFault\">\n\n       </wsdl:fault>\n\n      </wsdl:operation>\n\n
        \  </wsdl:portType>\n\n   <wsdl:binding name=\"LoginCmsSoapBinding\" type=\"impl:LoginCMS\">\n\n
        \     <wsdlsoap:binding style=\"document\" transport=\"http://schemas.xmlsoap.org/soap/http\"/>\n\n
        \     <wsdl:operation name=\"loginCms\">\n\n         <wsdlsoap:operation soapAction=\"\"/>\n\n
        \        <wsdl:input name=\"loginCmsRequest\">\n\n            <wsdlsoap:body
        use=\"literal\"/>\n\n         </wsdl:input>\n\n         <wsdl:output name=\"loginCmsResponse\">\n\n
        \           <wsdlsoap:body use=\"literal\"/>\n\n         </wsdl:output>\n\n
        \        <wsdl:fault name=\"LoginFault\">\n\n            <wsdlsoap:fault name=\"LoginFault\"
        use=\"literal\"/>\n\n         </wsdl:fault>\n\n      </wsdl:operation>\n\n
        \  </wsdl:binding>\n\n   <wsdl:service name=\"LoginCMSService\">\n\n      <wsdl:port
        binding=\"impl:LoginCmsSoapBinding\" name=\"LoginCms\">\n\n         <wsdlsoap:address
        location=\"https://wsaahomo.afip.gov.ar/ws/services/LoginCms\"/>\n\n      </wsdl:port>\n\n
        \  </wsdl:service>\n\n</wsdl:definitions>\n"
    headers:
      content-type:
      - text/xml;charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?><soapenv:Envelope
      xmlns:ser=\"https://wsaahomo.afip.gov.ar/ws/services/LoginCms\" xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\">\n<soapenv:Header/>\n<soapenv:Body>\n
      \   <ser:loginCms>\n    <in0>MIIG/AYJKoZIhvcNAQcCoIIG7TCCBukCAQExDzANBglghkgBZQMEAgEFADCCASAG\nCSqGSIb3DQEHAaCCAREEggENPD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0i\nVVRGLTgiPz48bG9naW5UaWNrZXRSZXF1ZXN0IHZlcnNpb249IjEuMCI+PGhlYWRl\ncj48dW5pcXVlSWQ+MTYyNDUzMjE4MTwvdW5pcXVlSWQ+PGdlbmVyYXRpb25UaW1l\nPjIwMjEtMDYtMjRUMTE6MjY6MjE8L2dlbmVyYXRpb25UaW1lPjxleHBpcmF0aW9u\nVGltZT4yMDIxLTA2LTI0VDIxOjI2OjIxPC9leHBpcmF0aW9uVGltZT48L2hlYWRl\ncj48c2VydmljZT53c2ZleDwvc2VydmljZT48L2xvZ2luVGlja2V0UmVxdWVzdD6g\nggNTMIIDTzCCAjegAwIBAgIIHJrQuzZhH+gwDQ[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://wswhomo.afip.gov.ar/wsfexv1/service.asmx?WSDL
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<wsdl:definitions xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\"
        xmlns:tm=\"http://microsoft.com/wsdl/mime/textMatching/\" xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\"
        xmlns:mime=\"http://schemas.xmlsoap.org/wsdl/mime/\" xmlns:tns=\"http://ar.gov.afip.dif.fexv1/\"
        xmlns:s=\"http://www.w3.org/2001/XMLSchema\" xmlns:soap12=\"http://schemas.xmlsoap.org/wsdl/soap12/\"
        xmlns:http=\"http://schemas.xmlsoap.org/wsdl/http/\" targetNamespace=\"http://ar.gov.afip.dif.fexv1/\"
        xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\">\r\n  <wsdl:documentation
        xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\">Web Service orientado  al
        \ servicio  de autorizacion de comprobantes de Exportacion electronicos</wsdl:documentation>\r\n
        \ <wsdl:types>\r\n    <s:schema elementFormDefault=\"qualified\" targetNamespace=\"http://ar.gov.afip.dif.fexv1/\">\r\n
        \     <s:element name=\"FEXAuthorize\">\r\n        <s:complexType>\r\n          <s:sequence>\r\n
        \           <s:element minOccurs=\"0\" maxOccurs=\"1\" name=\"Auth\" type=\"tns:ClsFEXAuthRequest\"
        />\r\n            <s:element minOccurs=\"0\" maxOccurs=\"1\" name=\"Cmp\"
        type=\"tns:ClsFEXRequest\" />\r\n          </s:sequence>\r\n        </s:complexType>\r\n
        \     </s:element>\r\n      <s:complexType name=\"ClsFEXAuthRequest\">\r\n
        \       <s:sequence>\r\n          <s:element minOccurs=\"0\" maxOccurs=\"1\"
        name=\"Token\" type=\"s:string\"[...]
- request:
    body: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?><soap:Envelope
      xmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
      xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\n<soap:Header/>\n<soap:Body>\n
      \   \n</soap:Body>\n</soap:Envelope>"
    headers:
      content-type:
      - text/xml; charset="UTF-8"
      soapaction:
      - '"http://ar.gov.afip.dif.fexv1/FEXDummy"'
    method: POST
    uri: https://wswhomo.afip.gov.ar/wsfexv1/service.asmx
  response:
    body:
      string: !!python/unicode <?xml version="1.0" encoding="utf-8"?><soap:Envelope
        xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Header><FEHeaderInfo xmlns="http://ar.gov.afip.dif.fexv1/"><ambiente>Homologacion
        - efa</ambiente><fecha>2021-06-24T13:26:34.8004712-03:00</fecha><id>2.1.0.0</id></FEHeaderInfo></soap:Header><soap:Body><FEXDummyResponse
        xmlns="http://ar.gov.afip.dif.fexv1/"><FEXDummyResult><AppServer>OK</AppServer><DbServer>OK</DbServer><AuthServer>OK</AuthServer></FEXDummyResult></FEXDummyResponse></soap:Body></soap:Envelope>
    headers:
      content-type:
      - text/xml; charset=utf-8
      microsoftofficewebserver:
      - 5.0_Pub
    status:
      code: 200
      message: OK
version: 1
